<div style="text-align: center;">
  <img src="https://image.flaticon.com/icons/svg/2660/2660056.svg" style="height: 120px;margin-top: 30%;">
  <h3 style="font-size: 30px;
  font-family: raleway-bold;">COVID-19 INFOBOT</h3>
  <p style="    font-size: 20px;
  /* padding: 18px; */
  margin: 19px;
  color: #767676;
  font-family: raleway;">Get All latest infomation about Cornovirus using smart chatbot</p>

<button class="uk-button uk-button-primary" style="    border-radius: 31px;
font-size: 17px;
margin-top: 14%;" (click)="LetsChat()">Let's Chat</button>

</div>

<div style=" text-align:center;    margin-top: 50%;
">
  <p style=" font-family: raleway;">&copy;Developed By Innocruts</p>
</div>